SmartHomeWizElect-Consumption.json
[{"id":"44552da6.042584","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b177edfd.0aa43","type":"ui_switch","z":"44552da6.042584","name":"","label":"Fan","tooltip":"","group":"1561bc9b.e559d3","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":885,"y":109,"wires":[["61a80d29.b3c784","7c1df7aa.d13d98"]]},{"id":"61a80d29.b3c784","type":"rpi-gpio out","z":"44552da6.042584","name":"","pin":"16","set":"","level":"0","freq":"","out":"out","x":1075,"y":109,"wires":[]},{"id":"ff8e585e.a41398","type":"ui_switch","z":"44552da6.042584","name":"","label":"Blue_Light","tooltip":"","group":"1561bc9b.e559d3","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":890,"y":380,"wires":[["c5cc20b8.0ea9b","927bf4a.8ea8608"]]},{"id":"c5cc20b8.0ea9b","type":"rpi-gpio out","z":"44552da6.042584","name":"","pin":"31","set":"","level":"0","freq":"","out":"out","x":1060,"y":380,"wires":[]},{"id":"e37475b2.88ac18","type":"ui_text","z":"44552da6.042584","group":"76c72daa.8ac404","order":0,"width":0,"height":0,"name":"","label":"Motion_Alert","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":440,"wires":[]},{"id":"3619ba22.0ddec6","type":"ui_switch","z":"44552da6.042584","name":"","label":"Exhaust_Fan","tooltip":"","group":"7bc51687.4e2538","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":890,"y":220,"wires":[["e98fb479.da92e8","a2085fdf.fe87c"]]},{"id":"e98fb479.da92e8","type":"rpi-gpio out","z":"44552da6.042584","name":"","pin":"18","set":"","level":"0","freq":"","out":"out","x":1060,"y":220,"wires":[]},{"id":"fea15042.6fc28","type":"rpi-gpio in","z":"44552da6.042584","name":"","pin":"13","intype":"tri","debounce":"25","read":false,"x":70,"y":280,"wires":[["e90b81fc.61d15"]]},{"id":"e90b81fc.61d15","type":"function","z":"44552da6.042584","name":"Fiame Sensor","func":"\n //var msg1;\nif (msg.payload === 0){\n    msg.payload =1;\n    msg.payload= Number(msg.payload);\n    return msg;\n}\nif( msg.payload === 1){\n    msg.payload = 0;\n     msg.payload= Number(msg.payload);\nreturn msg;\n}\n  ","outputs":1,"noerr":0,"x":200,"y":320,"wires":[["a43cc9ae.f08a38","f7cbb210.2a0ee","bd0d721d.28358"]]},{"id":"c3c7e1a9.16b01","type":"debug","z":"44552da6.042584","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":856,"wires":[]},{"id":"31615c38.28f104","type":"ui_gauge","z":"44552da6.042584","name":"","group":"33731033.34ef4","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"'C","format":"{{value}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":250,"y":816,"wires":[]},{"id":"20a44da4.e46e72","type":"switch","z":"44552da6.042584","name":"Change","property":"switch","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":100,"y":474,"wires":[["4ddb341b.be139c","f2dfdf88.58fed","e37475b2.88ac18","f7cbb210.2a0ee","bd0d721d.28358"]]},{"id":"60faaee3.1e748","type":"change","z":"44552da6.042584","name":"switch","rules":[{"t":"set","p":"switch","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":407,"y":710,"wires":[["a911ff85.c5549"]]},{"id":"4ddb341b.be139c","type":"debug","z":"44552da6.042584","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"PIR","targetType":"msg","x":280,"y":480,"wires":[]},{"id":"71a8b4b9.a0c8cc","type":"inject","z":"44552da6.042584","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":97,"y":670,"wires":[["f3a0512a.b9412"]]},{"id":"175ea657.4312fa","type":"inject","z":"44552da6.042584","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":97,"y":730,"wires":[["f3a0512a.b9412"]]},{"id":"f3a0512a.b9412","type":"ui_switch","z":"44552da6.042584","name":"","label":"switch","tooltip":"","group":"a5d70956.dca588","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"switch","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":257,"y":710,"wires":[["60faaee3.1e748"]]},{"id":"b71b88a8.12ffa8","type":"e-mail","z":"44552da6.042584","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"stes.quality@gmail.com","dname":"Email","x":690,"y":576,"wires":[]},{"id":"a0f889e.5ed7378","type":"function","z":"44552da6.042584","name":"Source","func":"msg.payload={};\nmsg.payload.type=\"photo\";\nmsg.payload.caption=\"Next photo in sequence\";\nmsg.payload.content=\"/var/lib/motion/lastsnap.jpg\";\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":516,"wires":[["505cbddb.416a14"]]},{"id":"505cbddb.416a14","type":"file in","z":"44552da6.042584","name":".jpg file path","filename":"/var/lib/motion/lastsnap.jpg","format":"","chunk":false,"sendError":false,"x":430,"y":580,"wires":[["f2d80151.235a5"]]},{"id":"f2d80151.235a5","type":"change","z":"44552da6.042584","name":"attach","rules":[{"t":"set","p":"attachments","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":536,"wires":[["b71b88a8.12ffa8"]]},{"id":"c4222acd.896c48","type":"comment","z":"44552da6.042584","name":"If motion detection, then send Picture to email","info":"","x":175,"y":362,"wires":[]},{"id":"f2dfdf88.58fed","type":"http request","z":"44552da6.042584","name":"Snapshot","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.50:8080/0/action/snapshot","tls":"","persist":false,"proxy":"","authType":"","x":260,"y":556,"wires":[["a0f889e.5ed7378"]]},{"id":"150bbc48.d798c4","type":"inject","z":"44552da6.042584","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":582,"wires":[["f2dfdf88.58fed"]]},{"id":"a239d28c.394b8","type":"comment","z":"44552da6.042584","name":"Just a live view of cameras","info":"","x":110,"y":20,"wires":[]},{"id":"e0ed00af.dd7ea","type":"ui_template","z":"44552da6.042584","group":"d554621.98026a","name":"Just a view of cameras","order":1,"width":"7","height":"5","format":"<!DOCTYPE html>\n<html>\n<style>\nimg {\n    border: 1px solid #ddd;\n    border-radius: 8px;\n    padding: 2px;\n    width: 320px;\n}\n</style>\n\n<script type=\"text/javascript\">\nscope.$watch('msg', function(msg) {\n    inMessage(msg.payload);\n});\n\nfunction selectCam(url) {\n    document.getElementById('cX').src = url;\n}\n\nfunction inMessage(event) {\n    if (event.match('http://')) {\n        selectCam(event);\n    }\n}\n\n</script>\n<center>\n<table>\n    <tr><!-- Row 1 -->\n    \t\t<td style=\"text-align: center\"><img src=\"\" id=\"cX\" /></td>\n    </tr>\n</table>\n</center>\n</html>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":340,"y":60,"wires":[[]]},{"id":"8b4bf993.b2c9c8","type":"inject","z":"44552da6.042584","name":"","topic":"","payload":"http://192.168.178.50:8081","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":60,"wires":[["e0ed00af.dd7ea"]]},{"id":"a911ff85.c5549","type":"ui_text","z":"44552da6.042584","group":"a5d70956.dca588","order":1,"width":0,"height":0,"name":"Security","label":"Security Activation Status","format":"{{msg.payload}}=NO","layout":"row-spread","x":547,"y":710,"wires":[]},{"id":"a7d2550b.68b1d8","type":"comment","z":"44552da6.042584","name":"Security Switch","info":"","x":87,"y":630,"wires":[]},{"id":"dfe4a7a2.6e3018","type":"comment","z":"44552da6.042584","name":"Temperature At GPIO4 1_Wire","info":"","x":120,"y":776,"wires":[]},{"id":"c7e3f37f.e298","type":"comment","z":"44552da6.042584","name":"RFID Door Open/Close","info":"","x":105,"y":899,"wires":[]},{"id":"543067f6.792508","type":"rpi-gpio out","z":"44552da6.042584","name":"Servo 15","pin":"15","set":"","level":"0","freq":"100","out":"pwm","x":540,"y":1036,"wires":[]},{"id":"f5fd0981.629298","type":"inject","z":"44552da6.042584","name":"Motor Stop","topic":"","payload":"0","payloadType":"num","repeat":"4","crontab":"","once":false,"onceDelay":"","x":270,"y":1036,"wires":[["543067f6.792508"]]},{"id":"3418192c.7636e6","type":"daemon","z":"44552da6.042584","name":"RFIDReader","command":"python","args":"-u /home/pi/rfidreader.py","autorun":true,"cr":true,"redo":true,"op":"string","x":90,"y":950,"wires":[["fbb5c674.a5b678"],[],[]]},{"id":"fbb5c674.a5b678","type":"function","z":"44552da6.042584","name":"Assign Payload","func":"//msg.payload = JSON.parse(msg.payload);\nif (msg.payload == \"Card detected\\n\")\n{\nmsg.payload = 1;\n}\n//else {\n//msg.payload = 1;\n//}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":956,"wires":[["c6a2bc12.57668","44b436f4.01f018"]]},{"id":"c6a2bc12.57668","type":"debug","z":"44552da6.042584","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":956,"wires":[]},{"id":"44b436f4.01f018","type":"trigger","z":"44552da6.042584","op1":"3","op2":"15","op1type":"num","op2type":"num","duration":"8","extend":false,"units":"s","reset":"","bytopic":"all","name":"Open for 8s","x":410,"y":996,"wires":[["543067f6.792508"]]},{"id":"37c2a56c.711a7a","type":"comment","z":"44552da6.042584","name":"Smoke Sensor","info":"","x":95,"y":121,"wires":[]},{"id":"a43cc9ae.f08a38","type":"ui_text","z":"44552da6.042584","group":"76c72daa.8ac404","order":1,"width":0,"height":0,"name":"","label":"Fire_Alert","format":"{{msg.payload}}","layout":"row-spread","x":340,"y":280,"wires":[]},{"id":"6c8075ff.90215c","type":"rpi-gpio in","z":"44552da6.042584","name":"","pin":"5","intype":"tri","debounce":"25","read":false,"x":70,"y":180,"wires":[["8fce208f.56231"]]},{"id":"8fce208f.56231","type":"function","z":"44552da6.042584","name":"Smoke Sensor","func":"\n //var msg1;\nif (msg.payload === 0){\n    msg.payload =1;\n    msg.payload= Number(msg.payload);\n    return msg;\n}\nif( msg.payload === 1){\n    msg.payload = 0;\n     msg.payload= Number(msg.payload);\nreturn msg;\n}\n  ","outputs":1,"noerr":0,"x":220,"y":191,"wires":[["4094adf5.f93704","f7cbb210.2a0ee","bd0d721d.28358"]]},{"id":"35c635ad.da5c7a","type":"comment","z":"44552da6.042584","name":"Fire Sensor","info":"","x":85,"y":241,"wires":[]},{"id":"4094adf5.f93704","type":"ui_text","z":"44552da6.042584","group":"76c72daa.8ac404","order":2,"width":0,"height":0,"name":"","label":"Smoke_Alert","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":160,"wires":[]},{"id":"b2213b8f.351198","type":"ui_switch","z":"44552da6.042584","name":"","label":"Main_Light","tooltip":"","group":"528e8223.243eec","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":895,"y":480,"wires":[["20bcb7a4.f1f498","80f9cdaf.9584"]]},{"id":"20bcb7a4.f1f498","type":"rpi-gpio out","z":"44552da6.042584","name":"","pin":"33","set":"","level":"0","freq":"","out":"out","x":1065,"y":480,"wires":[]},{"id":"3ac74951.7a5126","type":"ui_switch","z":"44552da6.042584","name":"","label":"Orange_Light","tooltip":"","group":"7bc51687.4e2538","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":905,"y":577,"wires":[["dbeb3f83.45ad4","a51adafa.0ddd58"]]},{"id":"dbeb3f83.45ad4","type":"rpi-gpio out","z":"44552da6.042584","name":"","pin":"37","set":"","level":"0","freq":"","out":"out","x":1065,"y":577,"wires":[]},{"id":"7127fd20.a6cea4","type":"ui_switch","z":"44552da6.042584","name":"","label":"Green_Light","tooltip":"","group":"a924f6c.a36d908","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":895,"y":669,"wires":[["39022928.647bc6","9a769748.b7e238"]]},{"id":"39022928.647bc6","type":"rpi-gpio out","z":"44552da6.042584","name":"","pin":"35","set":"","level":"0","freq":"","out":"out","x":1065,"y":669,"wires":[]},{"id":"676d765f.299f08","type":"ui_switch","z":"44552da6.042584","name":"","label":"Door_Light","tooltip":"","group":"528e8223.243eec","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":895,"y":754,"wires":[["a05433fc.d6332","cab32724.335ab8"]]},{"id":"a05433fc.d6332","type":"rpi-gpio out","z":"44552da6.042584","name":"","pin":"36","set":"","level":"0","freq":"","out":"out","x":1065,"y":754,"wires":[]},{"id":"c8a2601f.6de9b","type":"rpi-gpio out","z":"44552da6.042584","name":"","pin":"38","set":"","level":"0","freq":"","out":"out","x":1065,"y":836,"wires":[]},{"id":"2667049d.fc5f5c","type":"comment","z":"44552da6.042584","name":"Light Switch","info":"","x":845,"y":304,"wires":[]},{"id":"ec0dac05.a5722","type":"comment","z":"44552da6.042584","name":"Fan Switch","info":"","x":835,"y":20,"wires":[]},{"id":"766d8178.982c5","type":"comment","z":"44552da6.042584","name":"SDA\t24, SCK 23, MOSI 19, MISO 21, RST 22, IRQ Nil","info":"","x":420,"y":904,"wires":[]},{"id":"91367d8a.930cb","type":"rpi-gpio in","z":"44552da6.042584","name":"","pin":"29","intype":"tri","debounce":"25","read":false,"x":70,"y":420,"wires":[["20a44da4.e46e72"]]},{"id":"bd0d721d.28358","type":"rpi-gpio out","z":"44552da6.042584","name":"Buzzer","pin":"11","set":"","level":"0","freq":"","out":"out","x":610,"y":380,"wires":[]},{"id":"2cda1e02.953522","type":"sensor-ds18b20","z":"44552da6.042584","name":"Temp.","topic":"","sensorid":"10-0008039f1ac1","timer":"20","repeat":true,"x":90,"y":840,"wires":[["31615c38.28f104","c3c7e1a9.16b01"]]},{"id":"d3013e85.d933b","type":"play audio","z":"44552da6.042584","name":"High Alert","voice":"0","x":620,"y":200,"wires":[]},{"id":"f7cbb210.2a0ee","type":"file in","z":"44552da6.042584","name":".pm3 file path","filename":"/home/pi/Desktop/alert.mp3","format":"","chunk":false,"sendError":false,"x":540,"y":260,"wires":[["d3013e85.d933b"]]},{"id":"5fdbecf6.c30884","type":"inject","z":"44552da6.042584","name":"Buzzer stop","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":320,"wires":[["bd0d721d.28358"]]},{"id":"7c1df7aa.d13d98","type":"change","z":"44552da6.042584","name":"switch","rules":[{"t":"set","p":"switchfan","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1023,"y":69,"wires":[[]]},{"id":"a2085fdf.fe87c","type":"change","z":"44552da6.042584","name":"switch","rules":[{"t":"set","p":"switchexhaustfan","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":180,"wires":[[]]},{"id":"927bf4a.8ea8608","type":"change","z":"44552da6.042584","name":"switch","rules":[{"t":"set","p":"switchblue","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1025,"y":340,"wires":[[]]},{"id":"80f9cdaf.9584","type":"change","z":"44552da6.042584","name":"switch","rules":[{"t":"set","p":"switchmain","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1029,"y":437,"wires":[[]]},{"id":"a51adafa.0ddd58","type":"change","z":"44552da6.042584","name":"switch","rules":[{"t":"set","p":"switchorange","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1042,"y":533,"wires":[[]]},{"id":"9a769748.b7e238","type":"change","z":"44552da6.042584","name":"switch","rules":[{"t":"set","p":"switchgreen","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1029,"y":625,"wires":[[]]},{"id":"cab32724.335ab8","type":"change","z":"44552da6.042584","name":"switch","rules":[{"t":"set","p":"switchdoor","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1029,"y":713,"wires":[[]]},{"id":"7ecc449d.06d5fc","type":"change","z":"44552da6.042584","name":"switch","rules":[{"t":"set","p":"switchred","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1029,"y":799,"wires":[[]]},{"id":"906afdfb.343ab","type":"inject","z":"44552da6.042584","name":"","topic":"","payload":"1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1280,"y":107,"wires":[["fb32c7dc.0c99e8"]]},{"id":"399df747.1ac6f8","type":"debug","z":"44552da6.042584","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1770,"y":67,"wires":[]},{"id":"2cacdc57.4a31b4","type":"function","z":"44552da6.042584","name":"Counter","func":"var COUNT='count';\n\n// initialise the counter to 0 if it doesn't exist already\nvar count = flow.get(COUNT)||0;\ncount += 1;\n// store the value back\nflow.set(COUNT,count);\n// make it part of the outgoing msg object\nmsg.count = count;\nmsg.payload = {} ;\n\nmsg.payload.countFan = count;\n\nnode.log(\"Received particles : \" + count);\n\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":107,"wires":[["399df747.1ac6f8","3da53958.09f086"]]},{"id":"fb32c7dc.0c99e8","type":"switch","z":"44552da6.042584","name":"Change","property":"switchfan","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":1440,"y":107,"wires":[["2cacdc57.4a31b4"]]},{"id":"6d347f75.e6e99","type":"function","z":"44552da6.042584","name":"reset","func":"var COUNT='count';\n\n// initialise the counter to 0 if it doesn't exist already\nvar count = flow.get(COUNT)||0;\n\nmsg.count = count;\nmsg.payload = {};\nmsg.payload.ppm = count;\n\nnode.log(\"Reset counter at \" + count);\n\n// make it part of the outgoing msg object\ncount = 0;\n\n// store the value back\nflow.set(COUNT,count);\n\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":67,"wires":[[]]},{"id":"3da53958.09f086","type":"function","z":"44552da6.042584","name":"","func":"msg.payload = parseFloat(msg.payload.countFan *= 0.5.toFixed(1))\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":107,"wires":[["5a0d6bbb.80fbd4","48a0db51.8809b4","36dd3f7c.55968"]]},{"id":"bac595d4.ef31c8","type":"inject","z":"44552da6.042584","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1440,"y":67,"wires":[["6d347f75.e6e99"]]},{"id":"5a0d6bbb.80fbd4","type":"debug","z":"44552da6.042584","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1950,"y":107,"wires":[]},{"id":"48a0db51.8809b4","type":"ui_chart","z":"44552da6.042584","name":"Fan","group":"b836ffe3.92b32","order":1,"width":0,"height":0,"label":"Fan_Consumption W.Sec","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"W.Sec","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#131516","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1950,"y":67,"wires":[[]]},{"id":"770a9bfe.385dc4","type":"inject","z":"44552da6.042584","name":"","topic":"","payload":"1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1280,"y":220,"wires":[["f8353052.b24b1"]]},{"id":"76d8f9a6.6eaea8","type":"debug","z":"44552da6.042584","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1770,"y":180,"wires":[]},{"id":"a7b8e14d.2d4ee","type":"function","z":"44552da6.042584","name":"Counter","func":"var COUNT='count';\n\n// initialise the counter to 0 if it doesn't exist already\nvar count = flow.get(COUNT)||0;\ncount += 1;\n// store the value back\nflow.set(COUNT,count);\n// make it part of the outgoing msg object\nmsg.count = count;\nmsg.payload = {} ;\n\nmsg.payload.countExhaustFan = count;\n\nnode.log(\"Received particles : \" + count);\n\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":220,"wires":[["76d8f9a6.6eaea8","6b32fd15.8b8bd4"]]},{"id":"f8353052.b24b1","type":"switch","z":"44552da6.042584","name":"Change","property":"switchexhaustfan","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":1440,"y":220,"wires":[["a7b8e14d.2d4ee"]]},{"id":"197ce28e.c8bbed","type":"function","z":"44552da6.042584","name":"reset","func":"var COUNT='count';\n\n// initialise the counter to 0 if it doesn't exist already\nvar count = flow.get(COUNT)||0;\n\nmsg.count = count;\nmsg.payload = {};\nmsg.payload.ppm = count;\n\nnode.log(\"Reset counter at \" + count);\n\n// make it part of the outgoing msg object\ncount = 0;\n\n// store the value back\nflow.set(COUNT,count);\n\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":180,"wires":[[]]},{"id":"6b32fd15.8b8bd4","type":"function","z":"44552da6.042584","name":"","func":"msg.payload = parseFloat(msg.payload.countExhaustFan *= 0.5.toFixed(1))\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":220,"wires":[["6e90b0a.f4df25","57fe6971.0a8ee8","10fedc14.b73484"]]},{"id":"e9265336.e7c4d","type":"inject","z":"44552da6.042584","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1440,"y":180,"wires":[["197ce28e.c8bbed"]]},{"id":"6e90b0a.f4df25","type":"debug","z":"44552da6.042584","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1950,"y":220,"wires":[]},{"id":"57fe6971.0a8ee8","type":"ui_chart","z":"44552da6.042584","name":"Exhaust_Fan","group":"894d4af7.4495b8","order":0,"width":0,"height":0,"label":"Exhaust_Fan_Consumption W.Sec","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"W.Sec","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#161717","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1970,"y":180,"wires":[[]]},{"id":"bb454441.7a5fe8","type":"inject","z":"44552da6.042584","name":"","topic":"","payload":"1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1280,"y":380,"wires":[["52d92535.041a6c"]]},{"id":"1ffd8658.23c18a","type":"debug","z":"44552da6.042584","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1770,"y":340,"wires":[]},{"id":"d70fbee7.974d9","type":"function","z":"44552da6.042584","name":"Counter","func":"var COUNT='count';\n\n// initialise the counter to 0 if it doesn't exist already\nvar count = flow.get(COUNT)||0;\ncount += 1;\n// store the value back\nflow.set(COUNT,count);\n// make it part of the outgoing msg object\nmsg.count = count;\nmsg.payload = {} ;\n\nmsg.payload.countBlue = count;\n\nnode.log(\"Received particles : \" + count);\n\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":380,"wires":[["1ffd8658.23c18a","76d38493.feec2c"]]},{"id":"52d92535.041a6c","type":"switch","z":"44552da6.042584","name":"Change","property":"switchblue","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":1440,"y":380,"wires":[["d70fbee7.974d9"]]},{"id":"6db061d1.5fc19","type":"function","z":"44552da6.042584","name":"reset","func":"var COUNT='count';\n\n// initialise the counter to 0 if it doesn't exist already\nvar count = flow.get(COUNT)||0;\n\nmsg.count = count;\nmsg.payload = {};\nmsg.payload.ppm = count;\n\nnode.log(\"Reset counter at \" + count);\n\n// make it part of the outgoing msg object\ncount = 0;\n\n// store the value back\nflow.set(COUNT,count);\n\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":340,"wires":[[]]},{"id":"76d38493.feec2c","type":"function","z":"44552da6.042584","name":"","func":"msg.payload = parseFloat(msg.payload.countBlue *= 0.1.toFixed(1))\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":380,"wires":[["ed09d3a7.060fa","f20824af.52ba58","fdbb01e.08da3"]]},{"id":"48a3c4a8.37b4cc","type":"inject","z":"44552da6.042584","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1440,"y":340,"wires":[["6db061d1.5fc19"]]},{"id":"ed09d3a7.060fa","type":"debug","z":"44552da6.042584","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1950,"y":380,"wires":[]},{"id":"f20824af.52ba58","type":"ui_chart","z":"44552da6.042584","name":"Blue_Light","group":"b836ffe3.92b32","order":0,"width":0,"height":0,"label":"Blue_Light_Consumption W.Sec","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"W.Sec","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1970,"y":340,"wires":[[]]},{"id":"4a0b3caa.cb7cf4","type":"inject","z":"44552da6.042584","name":"","topic":"","payload":"1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1280,"y":482,"wires":[["6d204237.29effc"]]},{"id":"186e8341.c3201d","type":"debug","z":"44552da6.042584","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1770,"y":442,"wires":[]},{"id":"6e057279.53c3cc","type":"function","z":"44552da6.042584","name":"Counter","func":"var COUNT='count';\n\n// initialise the counter to 0 if it doesn't exist already\nvar count = flow.get(COUNT)||0;\ncount += 1;\n// store the value back\nflow.set(COUNT,count);\n// make it part of the outgoing msg object\nmsg.count = count;\nmsg.payload = {} ;\n\nmsg.payload.countMain = count;\n\nnode.log(\"Received particles : \" + count);\n\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":482,"wires":[["186e8341.c3201d","725accde.e4ee84"]]},{"id":"6d204237.29effc","type":"switch","z":"44552da6.042584","name":"Change","property":"switchmain","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":1440,"y":482,"wires":[["6e057279.53c3cc"]]},{"id":"705124e7.77d91c","type":"function","z":"44552da6.042584","name":"reset","func":"var COUNT='count';\n\n// initialise the counter to 0 if it doesn't exist already\nvar count = flow.get(COUNT)||0;\n\nmsg.count = count;\nmsg.payload = {};\nmsg.payload.ppm = count;\n\nnode.log(\"Reset counter at \" + count);\n\n// make it part of the outgoing msg object\ncount = 0;\n\n// store the value back\nflow.set(COUNT,count);\n\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":442,"wires":[[]]},{"id":"725accde.e4ee84","type":"function","z":"44552da6.042584","name":"","func":"msg.payload = parseFloat(msg.payload.countMain *= 0.1.toFixed(1))\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":482,"wires":[["376085c9.8af36a","170392f.968d26d","cbaffeaa.54442"]]},{"id":"a15b0947.0065b8","type":"inject","z":"44552da6.042584","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1440,"y":442,"wires":[["705124e7.77d91c"]]},{"id":"376085c9.8af36a","type":"debug","z":"44552da6.042584","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1950,"y":482,"wires":[]},{"id":"170392f.968d26d","type":"ui_chart","z":"44552da6.042584","name":"Main_Light","group":"457502f7.ad5ebc","order":0,"width":0,"height":0,"label":"Main_Light_Consumption W.Sec","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"W.Sec","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#c20fe6","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1970,"y":442,"wires":[[]]},{"id":"973e1583.d8b0b8","type":"inject","z":"44552da6.042584","name":"","topic":"","payload":"1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1280,"y":576,"wires":[["787de636.4c6ff8"]]},{"id":"54edb269.dab53c","type":"debug","z":"44552da6.042584","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1770,"y":536,"wires":[]},{"id":"367213ec.0d39dc","type":"function","z":"44552da6.042584","name":"Counter","func":"var COUNT='count';\n\n// initialise the counter to 0 if it doesn't exist already\nvar count = flow.get(COUNT)||0;\ncount += 1;\n// store the value back\nflow.set(COUNT,count);\n// make it part of the outgoing msg object\nmsg.count = count;\nmsg.payload = {} ;\n\nmsg.payload.countOrange = count;\n\nnode.log(\"Received particles : \" + count);\n\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":576,"wires":[["54edb269.dab53c","7f00ac47.dd3144"]]},{"id":"787de636.4c6ff8","type":"switch","z":"44552da6.042584","name":"Change","property":"switchorange","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":1440,"y":576,"wires":[["367213ec.0d39dc"]]},{"id":"24d37cd6.9488a4","type":"function","z":"44552da6.042584","name":"reset","func":"var COUNT='count';\n\n// initialise the counter to 0 if it doesn't exist already\nvar count = flow.get(COUNT)||0;\n\nmsg.count = count;\nmsg.payload = {};\nmsg.payload.ppm = count;\n\nnode.log(\"Reset counter at \" + count);\n\n// make it part of the outgoing msg object\ncount = 0;\n\n// store the value back\nflow.set(COUNT,count);\n\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":536,"wires":[[]]},{"id":"7f00ac47.dd3144","type":"function","z":"44552da6.042584","name":"","func":"msg.payload = parseFloat(msg.payload.countOrange *= 0.1.toFixed(1))\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":576,"wires":[["9dcc1043.d67e6","ed28a767.379628","6f0a0eca.b2604"]]},{"id":"c376c731.86fdd8","type":"inject","z":"44552da6.042584","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1440,"y":536,"wires":[["24d37cd6.9488a4"]]},{"id":"9dcc1043.d67e6","type":"debug","z":"44552da6.042584","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1950,"y":576,"wires":[]},{"id":"ed28a767.379628","type":"ui_chart","z":"44552da6.042584","name":"Orange_Light","group":"894d4af7.4495b8","order":1,"width":0,"height":0,"label":"Orange_Light_Consumption W.Sec","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"W.Sec","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#e17f0e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1980,"y":536,"wires":[[]]},{"id":"334d7a88.209e56","type":"inject","z":"44552da6.042584","name":"","topic":"","payload":"1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1280,"y":669,"wires":[["743dbaa.ca6e944"]]},{"id":"940f0095.41559","type":"debug","z":"44552da6.042584","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1770,"y":629,"wires":[]},{"id":"47a46bc2.84e034","type":"function","z":"44552da6.042584","name":"Counter","func":"var COUNT='count';\n\n// initialise the counter to 0 if it doesn't exist already\nvar count = flow.get(COUNT)||0;\ncount += 1;\n// store the value back\nflow.set(COUNT,count);\n// make it part of the outgoing msg object\nmsg.count = count;\nmsg.payload = {} ;\n\nmsg.payload.countGreen = count;\n\nnode.log(\"Received particles : \" + count);\n\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":669,"wires":[["940f0095.41559","3668ca63.f26096"]]},{"id":"743dbaa.ca6e944","type":"switch","z":"44552da6.042584","name":"Change","property":"switchgreen","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":1440,"y":669,"wires":[["47a46bc2.84e034"]]},{"id":"bf7681.b10db98","type":"function","z":"44552da6.042584","name":"reset","func":"var COUNT='count';\n\n// initialise the counter to 0 if it doesn't exist already\nvar count = flow.get(COUNT)||0;\n\nmsg.count = count;\nmsg.payload = {};\nmsg.payload.ppm = count;\n\nnode.log(\"Reset counter at \" + count);\n\n// make it part of the outgoing msg object\ncount = 0;\n\n// store the value back\nflow.set(COUNT,count);\n\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":629,"wires":[[]]},{"id":"3668ca63.f26096","type":"function","z":"44552da6.042584","name":"","func":"msg.payload = parseFloat(msg.payload.countGreen *= 0.1.toFixed(1))\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":669,"wires":[["81e70292.3afc8","b6581592.2793b8","a8b50eb1.57dee"]]},{"id":"ff51dd93.0da24","type":"inject","z":"44552da6.042584","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1440,"y":629,"wires":[["bf7681.b10db98"]]},{"id":"81e70292.3afc8","type":"debug","z":"44552da6.042584","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1950,"y":669,"wires":[]},{"id":"b6581592.2793b8","type":"ui_chart","z":"44552da6.042584","name":"Green_light","group":"1c2d0279.f0649e","order":1,"width":0,"height":0,"label":"Green_Light_Consumption W.Sec","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"W.Sec","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#2ca02c","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1970,"y":629,"wires":[[]]},{"id":"388dd1e7.3765de","type":"inject","z":"44552da6.042584","name":"","topic":"","payload":"1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1280,"y":758,"wires":[["cec406e8.98a168"]]},{"id":"827a38e9.45b7c8","type":"function","z":"44552da6.042584","name":"Counter","func":"var COUNT='count';\n\n// initialise the counter to 0 if it doesn't exist already\nvar count = flow.get(COUNT)||0;\ncount += 1;\n// store the value back\nflow.set(COUNT,count);\n// make it part of the outgoing msg object\nmsg.count = count;\nmsg.payload = {} ;\n\nmsg.payload.countDoor = count;\n\nnode.log(\"Received particles : \" + count);\n\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":758,"wires":[["4b57e810.8888d8","245591dd.ffd80e"]]},{"id":"cec406e8.98a168","type":"switch","z":"44552da6.042584","name":"Change","property":"switchdoor","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":1440,"y":758,"wires":[["827a38e9.45b7c8"]]},{"id":"4b57e810.8888d8","type":"function","z":"44552da6.042584","name":"","func":"msg.payload = parseFloat(msg.payload.countDoor *= 0.1.toFixed(1))\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":758,"wires":[["e2fbdcce.ede6","3761171f.a06e18","6d9b7af3.23b944"]]},{"id":"e2fbdcce.ede6","type":"debug","z":"44552da6.042584","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1950,"y":758,"wires":[]},{"id":"cbe890c4.bdf94","type":"inject","z":"44552da6.042584","name":"","topic":"","payload":"1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1280,"y":851,"wires":[["f8fa543a.10ae28"]]},{"id":"508226f3.d27a58","type":"debug","z":"44552da6.042584","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1770,"y":811,"wires":[]},{"id":"b57cd45c.76e2b8","type":"function","z":"44552da6.042584","name":"Counter","func":"var COUNT='count';\n\n// initialise the counter to 0 if it doesn't exist already\nvar count = flow.get(COUNT)||0;\ncount += 1;\n// store the value back\nflow.set(COUNT,count);\n// make it part of the outgoing msg object\nmsg.count = count;\nmsg.payload = {} ;\n\nmsg.payload.countRed = count;\n\nnode.log(\"Received particles : \" + count);\n\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":851,"wires":[["508226f3.d27a58","d9ccf19a.c6f03"]]},{"id":"f8fa543a.10ae28","type":"switch","z":"44552da6.042584","name":"Change","property":"switchred","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":1440,"y":851,"wires":[["b57cd45c.76e2b8"]]},{"id":"ec66f143.d448c","type":"function","z":"44552da6.042584","name":"reset","func":"var COUNT='count';\n\n// initialise the counter to 0 if it doesn't exist already\nvar count = flow.get(COUNT)||0;\n\nmsg.count = count;\nmsg.payload = {};\nmsg.payload.ppm = count;\n\nnode.log(\"Reset counter at \" + count);\n\n// make it part of the outgoing msg object\ncount = 0;\n\n// store the value back\nflow.set(COUNT,count);\n\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":811,"wires":[[]]},{"id":"d9ccf19a.c6f03","type":"function","z":"44552da6.042584","name":"","func":"msg.payload = parseFloat(msg.payload.countRed *= 0.1.toFixed(1))\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":851,"wires":[["73b57b00.5ae7f4","64e31f86.2d084","ef8a4ac2.78ecf8"]]},{"id":"d59ec3c0.94153","type":"inject","z":"44552da6.042584","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1440,"y":811,"wires":[["ec66f143.d448c"]]},{"id":"73b57b00.5ae7f4","type":"debug","z":"44552da6.042584","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1950,"y":851,"wires":[]},{"id":"64e31f86.2d084","type":"ui_chart","z":"44552da6.042584","name":"Red_light","group":"b836ffe3.92b32","order":2,"width":0,"height":0,"label":"Red_Light_Consumption W.Sec","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"KWS","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#cc2728","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1960,"y":811,"wires":[[]]},{"id":"245591dd.ffd80e","type":"debug","z":"44552da6.042584","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1770,"y":720,"wires":[]},{"id":"b6eec1be.308f2","type":"function","z":"44552da6.042584","name":"reset","func":"var COUNT='count';\n\n// initialise the counter to 0 if it doesn't exist already\nvar count = flow.get(COUNT)||0;\n\nmsg.count = count;\nmsg.payload = {};\nmsg.payload.ppm = count;\n\nnode.log(\"Reset counter at \" + count);\n\n// make it part of the outgoing msg object\ncount = 0;\n\n// store the value back\nflow.set(COUNT,count);\n\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":720,"wires":[[]]},{"id":"ee46d39.b003e3","type":"inject","z":"44552da6.042584","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1440,"y":720,"wires":[["b6eec1be.308f2"]]},{"id":"3761171f.a06e18","type":"ui_chart","z":"44552da6.042584","name":"Door_light","group":"457502f7.ad5ebc","order":1,"width":0,"height":0,"label":"Door_Light_Consumption W.Sec","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"W.Sec","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#b8b5ba","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1970,"y":720,"wires":[[]]},{"id":"2249f771.30e448","type":"ui_switch","z":"44552da6.042584","name":"","label":"Red_Light","tooltip":"","group":"1561bc9b.e559d3","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":896,"y":836,"wires":[["c8a2601f.6de9b","7ecc449d.06d5fc"]]},{"id":"36dd3f7c.55968","type":"link out","z":"44552da6.042584","name":"","links":["8f38bb80.56db88"],"x":1855,"y":132,"wires":[]},{"id":"10fedc14.b73484","type":"link out","z":"44552da6.042584","name":"","links":["8f38bb80.56db88"],"x":1852,"y":248,"wires":[]},{"id":"fdbb01e.08da3","type":"link out","z":"44552da6.042584","name":"","links":["8f38bb80.56db88"],"x":1855,"y":400,"wires":[]},{"id":"cbaffeaa.54442","type":"link out","z":"44552da6.042584","name":"","links":["8f38bb80.56db88"],"x":1852,"y":500,"wires":[]},{"id":"6f0a0eca.b2604","type":"link out","z":"44552da6.042584","name":"","links":["8f38bb80.56db88"],"x":1850,"y":594,"wires":[]},{"id":"a8b50eb1.57dee","type":"link out","z":"44552da6.042584","name":"","links":["8f38bb80.56db88"],"x":1849,"y":687,"wires":[]},{"id":"6d9b7af3.23b944","type":"link out","z":"44552da6.042584","name":"","links":["8f38bb80.56db88"],"x":1845,"y":776,"wires":[]},{"id":"ef8a4ac2.78ecf8","type":"link out","z":"44552da6.042584","name":"","links":["8f38bb80.56db88"],"x":1844,"y":869,"wires":[]},{"id":"7fafb011.99c7f","type":"function","z":"44552da6.042584","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":2170,"y":420,"wires":[[]]},{"id":"8f38bb80.56db88","type":"link in","z":"44552da6.042584","name":"","links":["10fedc14.b73484","36dd3f7c.55968","6d9b7af3.23b944","6f0a0eca.b2604","a8b50eb1.57dee","cbaffeaa.54442","ef8a4ac2.78ecf8","fdbb01e.08da3"],"x":2115,"y":380,"wires":[["7fafb011.99c7f"]]},{"id":"1561bc9b.e559d3","type":"ui_group","z":"","name":"Bedroom","tab":"b5230624.34ddb8","order":2,"disp":true,"width":"6","collapse":false},{"id":"76c72daa.8ac404","type":"ui_group","z":"","name":"Security_Alert","tab":"942e994f.f8f628","order":1,"disp":true,"width":"6","collapse":false},{"id":"7bc51687.4e2538","type":"ui_group","z":"","name":"Kitchen","tab":"b5230624.34ddb8","order":3,"disp":true,"width":"6","collapse":false},{"id":"33731033.34ef4","type":"ui_group","z":"","name":"Temperature","tab":"3eaa423d.21a0de","order":1,"disp":true,"width":"6","collapse":false},{"id":"a5d70956.dca588","type":"ui_group","z":"","name":"Security Activation","tab":"942e994f.f8f628","order":2,"disp":true,"width":"6","collapse":false},{"id":"d554621.98026a","type":"ui_group","z":"","name":"LiveVideo","tab":"827325b.8be65d8","order":1,"disp":false,"width":"8","collapse":false},{"id":"528e8223.243eec","type":"ui_group","z":"","name":"Entrance","tab":"b5230624.34ddb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"a924f6c.a36d908","type":"ui_group","z":"","name":"Balcony","tab":"b5230624.34ddb8","order":4,"disp":true,"width":"6","collapse":false},{"id":"b836ffe3.92b32","type":"ui_group","z":"","name":"Bedroom","tab":"ede99a21.3405c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"894d4af7.4495b8","type":"ui_group","z":"","name":"Kitchen","tab":"ede99a21.3405c8","order":3,"disp":true,"width":"6","collapse":false},{"id":"457502f7.ad5ebc","type":"ui_group","z":"","name":"Entrance","tab":"ede99a21.3405c8","order":2,"disp":true,"width":"6","collapse":false},{"id":"1c2d0279.f0649e","type":"ui_group","z":"","name":"Balcony","tab":"ede99a21.3405c8","order":4,"disp":true,"width":"6","collapse":false},{"id":"b5230624.34ddb8","type":"ui_tab","z":"","name":"Smart Home Appliances","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"942e994f.f8f628","type":"ui_tab","z":"","name":"Smart Home Security","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"3eaa423d.21a0de","type":"ui_tab","z":"","name":"Smart Home Environment","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"827325b.8be65d8","type":"ui_tab","z":"","name":"Smart Home Live","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"ede99a21.3405c8","type":"ui_tab","z":"","name":"Electricity Consumption","icon":"dashboard","order":3,"disabled":false,"hidden":false}]